<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    nav {
      background:#227e81;
      margin: 20px, 10px;
      font-family:arial;
    }
    nav ul {
      margin: 0 auto;
      padding-left:10px;
    }
    nav li {
      list-style-type:none;
      display:inline-block;
      color:white;
      padding:20px 10px;
    }
    nav a {
      color:#fff;
      font-size:20px;
      text-decoration:none;
      background:#115e60;
      padding:10px;
      letter-spacing:3px;
    }
    h2 {
      font-family:arial;
    }
    .google-btn {
      font-family:arial;
      padding:10px;
      background:#227e81;
      color:#fff;
      text-decoration:none;
    }
    main, header {
      padding-left:20px;
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
    </ul>
  </nav>
  <header>
    <h2>Login using...</h2>
  </header>
  <main>
    <a class='google-btn' href='/auth/google'>Google+</a>
  </main>
</body>
</html>